@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*,::after,::before{
    margin: 0;padding: 0;box-sizing: border-box;
    cursor: pointer;
}
:root{
    --color:lightgreen;
}

body{
    width: 100%;
    height: 100vh;
    color:var(--color);
    background:lightgreen;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 40%;
    height: 56vh;
    background: #101010;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 1px #03072a;
    border-radius: 5px;
    padding: 1rem;
    }
.wrapper,.date,.show-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.date,.show-box{
    width: 100%;
    flex-direction: row;
    height: 8vh;
}
.date input{
    cursor: pointer;
    caret-color:var(--color);
    outline-color:var(--color);
    border-radius: 5px;
    padding-left: 2rem;
    border:none;
}
.current-box p{
    padding: 4px  1rem 1px 1rem;


}.current-box span,.dob span{
padding: 0 12px;
}
.show-box{
    height:25vh;
    align-items: flex-end;
}
.show-box >div{
    width: 30%;
    height: 20vh;
    text-align: center;
    background: #302c2cbd;
    border-radius: 12px;
}
.show-box>div h2{
    background:var(--color);
    padding: 1rem 0;
    color:#101010;
}
.show-box >div h3{
    padding-top: 2rem;
    font-size: 2rem;
}

button{
    background: var(--color);
    color: #101010;
    font-size: 19px;
    width: 50%;
    outline: none;
    border-radius: 12px;
    padding: 12px 0;
    border: none;
}

/* ------------ Make Responsive ----------- */
@media only screen and (max-width:768px){
    .wrapper{
        min-width: 89%;
    }
    button{
        font-size: 14px;
        width: 33%;
    }
    .show-box {
        height: 21vh;
    }
    .date{
        font-size: 12px;
    }
    .show-box>div h2 {
        font-size: 19px;
    }
    .show-box >div h3 {
        font-size: 1.5rem;
    }
}
@media  only screen and (max-width:425px){
    .wrapper {
        min-width: 100%;
        left: 55%;
    }
    .dob{
        margin-top: -14px;
    }
    .date input {
        margin: 12px;
        width: 55%;
        padding-left: 0;
        font-size: 12px;
    }
    .current-box{
        height: 11vh;
        font-size: 11px;
    }
    .current-box p {
        padding: 0px 2rem 6px 0rem;
    }
    .show-box {
        height: 22vh;
    }
    .show-box >div {
        width: 32%;
        height: 19vh;
    }
    button {
        font-size: 12px;
        width: 50%;
    }
}
@media only screen and (max-width:375px){
    .wrapper {
        min-width: 96%;
        height: 53vh;
    }
    .dob {
        margin-top:0;
    }
    .current-box{
        height: 11vh;
        font-size: 9px;
        width: 58%;
        margin-top: 3rem;
    }
    .current-box p{
        padding: 0px 0rem 0px 0rem;
    }
    .show-box {
        height: 18vh;
    }
    .show-box >div {
        height: 17vh;
    }
}
@media only screen and (max-width:320px){
    .date {
        font-size: 10px;
    }
    .date input {
        width: 76%;
    }
    .current-box{
        font-size: 6px;
    }
    .date, .show-box {
        width: 100%;
        flex-direction: row;
        height: 11vh;
    }
    .current-box {
        font-size: 10px;
        margin-top: 0;
        width: 50%;
    }
}